<div class="races">
  <div class="races-header">
    <div>{{ "Wkc.GeneralPosition.Position" | translate }}</div>
    <div></div>
    <div>{{ "Wkc.GeneralPosition.Name" | translate }}</div>
    <div>{{ "Wkc.GeneralPosition.Team" | translate }}</div>
    <div>{{ "Wkc.GeneralPosition.Points" | translate }}</div>
    <div>{{ "Wkc.GeneralPosition.BestTime" | translate }}</div>
  </div>
  <div class="race-content">
    <div *ngFor="let driver of currentDrivers; let index = index">
      <app-general-ranking-details [driver]="driver" [index]="getPosition(index+1)">
      </app-general-ranking-details>
    </div>
  </div>
</div>
