<div >
  <div
    class="content"
    [class]="{
      odd: index % 2,
      even: !(index % 2)
    }"
  >
    <div
      [class]="{
        first: index === 1,
        second: index === 2,
        third: index === 3
      }"
    >
      {{ index }}
    </div>
    <div><img [src]="currentDriver.picture" alt="" /></div>
    <div>{{ currentDriver.name | uppercase }}</div>
    <div>{{ currentDriver.team | uppercase }}</div>
    <div>{{ currentDriver.points }}</div>
    <div>{{ currentDriver.bestTime.hhmmss }}</div>
  </div>
</div>
