@mixin highlight {
  display: inline-block;
  font-weight: bold;
  font-size: x-large;
}

.odd {
  background-color: #d8dfe5;
}
.even {
  background-color: white;
}

.others {
  color: black;
}
.first {
  @include highlight();
  color: #a93226;
}
.second {
  @include highlight();
  color: #e67e22;
}
.third {
  @include highlight();
  color: #f1c40f;
}

.content {
  height: 100%;
  display: flex;

  div {
    text-align: center;
    flex: 3;
    align-items: center;
    display: flex;
    justify-content: center;
    &:nth-child(1) {
      flex: 1;
    }
  }
}
