<div style="flex: 1; height: 100%">
  <div
    [class]="{
      odd: index % 2,
      even: !(index % 2)
    }"
    class="content others"
  >
    <div
      [class]="{
        first: race.position === 1,
        second: race.position === 2,
        third: race.position === 3
      }"
    >
      <span
        ><div style="line-height: 34px">{{ race.position }}</div></span
      >
    </div>
    <div>{{ race.name | uppercase }}</div>
    <div>{{ race.time }}</div>
    <div>{{ race.points }}</div>
  </div>
</div>
