@use './../../../variables' as *;

.header {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  height: $main-dashboard-header;
  background: black;
  color: white;
  label {
    flex: 1;
  }
}
