<div class="card">
  <div class="card-content">
    <div class="driver-card">
      <img [src]="currentDriver?.picture" alt="driver photo" />
      <div class="driver-info">
        <div class="highlight">
          {{ currentDriver?.points }}
        </div>
        <div class="highlight">
          {{ currentDriver?.name }}
        </div>
        <div>{{ currentDriver?.age }},{{ currentDriver?.team }}</div>

        <div
          [class]="
            currentDriver?.position === 1
              ? 'first'
              : currentDriver?.position === 2
              ? 'second'
              : currentDriver?.position === 3
              ? 'third'
              : 'others'
          "
        >
          {{ currentDriver?.position }}
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content-header">
        <div>{{ "Wkc.Driver.Position" | translate }}</div>
        <div>{{ "Wkc.Driver.Race" | translate }}</div>
        <div>{{ "Wkc.Driver.Time" | translate }}</div>
        <div>{{ "Wkc.Driver.Points" | translate }}</div>
      </div>
      <div class="content-info">
        <div
          *ngFor="let race of currentDriver?.races; let raceTableIndex = index"
        >
          <app-race-details
            [index]="raceTableIndex"
            [race]="race"
          ></app-race-details>
        </div>
      </div>
    </div>
  </div>
</div>
