@use "./../../../variables" as *;

$border-diver-card: 5px;

@mixin place-font {
  font-size: xx-large;
  font-weight: bold;
}
.card {
  height: 100%;
  background-color: $color-green;
  .card-content {
    display: flex;
    width: 100%;
    height: inherit;
    .driver-card {
      border: $border-diver-card solid white;
      display: flex;
      flex-direction: column;
      height: calc(100% - #{2 * $border-diver-card});
      min-width: 250px;
      .driver-info {
        overflow: auto;
        color: white;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        .highlight {
          font-size: 2em;
          font-weight: 900;
        }
      }
    }
    img {
      border-radius: 50%;
      width: 100%;
    }

    .first {
      @include place-font();
      color: $color-first-winner;
    }
    .second {
      @include place-font();
      color: $color-second-winner;
    }
    .third {
      @include place-font();
      color: $color-third-winner;
    }

    .others {
      @include place-font();
      color: white;
    }
  }
}
