@use './../../../variables' as *;

$classification-header-h: 20px;

.dashboard-content {
  height: calc(100vh - #{$main-dashboard-header + $classification-header-h});
  overflow: auto;
}
.classification-header {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #0b3942;
  color: white;
  height: $classification-header-h;
  font-weight: bold;
  div {
    flex: 3;
    &:nth-child(1) {
      flex: 1;
    }
    &:nth-child(2) {
      flex: 1;
    }
  }
}
::ng-deep {
  .content {
    &:hover {
      cursor: pointer;
      font-size: x-large;
    }
  }
}
