<div>
  <app-header [title]="'Wkc.Home.Title' | translate"></app-header>
  <div class="classification-header">
    <div>{{ "Wkc.Home.Position" | translate }}</div>
    <div></div>
    <div>{{ "Wkc.Home.Name" | translate }}</div>
    <div>{{ "Wkc.Home.Team" | translate }}</div>
    <div>{{ "Wkc.Home.Points" | translate }}</div>
    <div>{{ "Wkc.Home.BestTime" | translate }}</div>
  </div>
  <div class="dashboard-content">
    <div *ngFor="let driver of drivers; let driverPositions = index">
      <app-dashboard-detail
        (selectedDriver)="driverSelected($event)"
        [driver]="driver"
        [position]="driverPositions + 1"
      ></app-dashboard-detail>
    </div>
  </div>
</div>
