@use './../../../../variables' as *;
@mixin highlight {
  display: inline-block;
  font-weight: bold;
  font-size: x-large;
}

.drivers {
  flex: 1;
  height: 100%;
}

.odd {
  background-color: $color-green-table;
}
.even {
  background-color: white;
}
.first {
  @include highlight();
  color: $color-first-winner;
}

.others {
  color: black;
}

.second {
  @include highlight();
  color: $color-second-winner;
}
.third {
  @include highlight();
  color: $color-third-winner;
}

.content {
  height: 100%;
  display: flex;

  div {
    text-align: center;
    flex: 3;
    align-items: center;
    display: flex;
    justify-content: center;
    &:nth-child(1) {
      flex: 1;
    }
  }
}
