<div class="drivers">
  <div
    class="content"
    [class]="{
      odd: index % 2,
      even: !(index % 2)
    }"
  >
    <div
      [class]="{
        first: driverRaceDetails.race.position === 1,
        second: driverRaceDetails.race.position === 2,
        third: driverRaceDetails.race.position === 3
      }"
    >
      <span
        ><div style="line-height: 34px">
          {{ driverRaceDetails.race.position }}
        </div></span
      >
    </div>
    <div><img [src]="driverRaceDetails.driver.picture" alt="" /></div>
    <div>{{ driverRaceDetails.driver.name | uppercase }}</div>
    <div>{{ driverRaceDetails.driver.team | uppercase }}</div>
    <div>{{ driverRaceDetails.race.time }}</div>
  </div>
</div>
