<div [class]="hidden ? 'hidden' : 'show'">
  <div
    (click)="onClick()"
    [class]="position % 2 ? 'odd' : 'even'"
    class="content"
  >
    <div>
      <span
        [class]="
          position === 1
            ? 'first'
            : position === 2
            ? 'second'
            : position === 3
            ? 'third'
            : 'others'
        "
        >{{ position }}</span
      >
    </div>
    <div><img [src]="driver.picture" alt="" /></div>
    <div>{{ driver.name | uppercase }}</div>
    <div>{{ driver.team | uppercase }}</div>
    <div>{{ driver.points }}</div>
    <div>{{ driver.bestTime.hhmmss }}</div>
  </div>
</div>
