@use './../../../variables' as *;

$min-circle-size: 66px;
$min-picture-size: 64px;

@mixin circle {
  height: $min-circle-size;
  width: $min-circle-size;
  border-radius: 50%;
  display: inline-block;
  color: $circle-color;
}

.show {
  transition: all 2s linear;
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.content {
  display: flex;
  height: $min-circle-size;

  .others {
    @include circle();
    background-color: $color-circle-background;
  }
  .first {
    @include circle();
    background-color: $color-first-winner;
  }
  .second {
    @include circle();
    background-color: $color-second-winner;
  }
  .third {
    @include circle();
    background-color: $color-third-winner;
  }

  div {
    text-align: center;
    flex: 3;
    align-items: center;
    line-height: $min-circle-size;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:nth-child(1) {
      min-width: 66px;
      flex: 1;
      font-weight: bold;
      font-size: x-large;
    }
    &:nth-child(2) {
      flex: 1;
      min-width: $min-picture-size;
    }
  }
}
