@use "./../../../variables" as *;

$tab-header: 48px;

.tab-content {
  height: calc(100vh - #{$tab-header});
  background-color: $karts-champion-background;
}

::ng-deep {
  .content {
    &:hover {
      cursor: none;
    }
  }
}

mat-tab-group {
  &:hover {
    cursor: none;
  }
}
