<mat-tab-group
  style="width: 100%"
  mat-align-tabs="start"
  [selectedIndex]="selectedIndex"
>
  <mat-tab>
    <div *ngIf="selectedIndex == 0" class="tab-content">
      <app-general-ranking
        [drivers]="drivers"
        [maxTimeForDriverRaceComponent]="defaultTimePerSlide"
      ></app-general-ranking>
    </div>
  </mat-tab>
  <mat-tab [label]="labelName">
    <div *ngIf="selectedIndex == 1" class="tab-content">
      <app-driver [driver]="currentDriver"></app-driver>
    </div>
  </mat-tab>
  <mat-tab>
    <div *ngIf="selectedIndex == 2" class="tab-content">
      <app-drivers-per-race
        [driversRaceDetails]="currentDriversRace"
        [maxTimeForDriverRaceComponent]="defaultTimePerSlide"
      ></app-drivers-per-race></div
  ></mat-tab>
</mat-tab-group>
