<div class="races">
  <div class="races-header">
    <div>{{ "Wkc.DriversPerRace.Position" | translate }}</div>
    <div></div>
    <div>{{ "Wkc.DriversPerRace.Driver" | translate }}</div>
    <div>{{ "Wkc.DriversPerRace.Points" | translate }}</div>
    <div>{{ "Wkc.DriversPerRace.Time" | translate }}</div>
  </div>
  <div class="race-content">
    <div
      *ngFor="
        let driverRaceDetail of currentDriversRaceDetails;
        let index = index
      "
    >
      <app-driver-per-race
        [driverRaceDetails]="driverRaceDetail"
        [index]="index"
      ></app-driver-per-race>
    </div>
  </div>
</div>
