@mixin highlight {
  //   height: 34px;
  //   width: 34px;
  //  border-radius: 50%;
  display: inline-block;
  font-weight: bold;
  font-size: x-large;
}

.show {
  transition: all 2s linear;
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.odd {
  background-color: #d8dfe5;
}
.even {
  background-color: white;
}

.content {
  height: 100%;
  display: flex;
  .others {
    color: black;
  }
  .first {
    @include highlight();
    color: #a93226;
  }
  .second {
    @include highlight();
    color: #e67e22;
  }
  .third {
    @include highlight();
    color: #f1c40f;
  }

  div {
    text-align: center;
    flex: 3;
    align-items: center;
    display: flex;
    justify-content: center;
    &:nth-child(1) {
      flex: 1;
    }
  }
}
