<div style="flex: 1; height: 100%">
  <div [class]="index % 2 ? 'odd' : 'even'" class="content">
    <div>
      <span
        [class]="
          race.position === 1
            ? 'first'
            : race.position === 2
            ? 'second'
            : race.position === 3
            ? 'third'
            : 'others'
        "
        ><div style="line-height: 34px">{{ race.position }}</div></span
      >
    </div>
    <div>{{ race.name | uppercase }}</div>
    <div>{{ race.time }}</div>
  </div>
</div>
