$main-dashboard-header: 48px;
$color-green: #0b3942;
$color-green-table: #d8dfe5;
$color-first-winner: #a93226;
$color-second-winner: #e67e22;
$color-third-winner: #f1c40f;
$color-circle-background: #bbb;

$container-border: 5px;
$circle-color: white;
$even-row-color: white;
$karts-champion-background: black;
