@use 'variables' as *;
/* You can add global styles to this file, and also import other style files */
html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;

  .app-body {
    height: 100vh;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    border: 1px solid slategrey;
  }

  :-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  }
  .mat-tab-body-wrapper {
    height: 100%;
  }

  .mat-tab-label-container {
    background-color: $color-green;

    .mat-tab-label-content {
      color: white;
      .mat-tab-label {
        opacity: 1 !important;
      }
    }
  }

  .mat-tab-list {
    width: 100%;
    .mat-tab-labels {
      width: inherit;
      .mat-tab-label-content {
        font-size: 25px;
        font-weight: bold;
      }
    }
    .mat-ripple.mat-tab-label.mat-focus-indicator.ng-star-inserted {
      flex: 1;
    }
  }
}

.container {
  border: $container-border solid white;
  flex: 6;
  display: flex;
  flex-direction: column;
  overflow: auto;

  height: calc(100% - #{$container-border * 2});
  .content-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    div {
      flex: 1;
    }
  }

  .content-header {
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    color: white;
    height: 34px;
    font-weight: bold;
    background-color: $karts-champion-background;
    div {
      flex: 3;
      &:nth-child(1) {
        flex: 1;
      }
    }
  }
}

.details-container {
  flex: 1;
  height: 100%;
}
.details-content {
  height: 100%;
  display: flex;

  div {
    text-align: center;
    flex: 5;
    align-items: center;
    display: flex;
    justify-content: center;
    &:nth-child(1) {
      flex: 1;
    }
    &:nth-child(2) {
      flex: 1;
    }
  }
}

.odd {
  background-color: $color-green-table;
}
.even {
  background-color: $even-row-color;
}

.race-content {
  height: 64px;
}

.races {
  flex: 6;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  .races-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    div {
      flex: 1;
    }
  }

  .races-header {
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
    min-height: 28px;
    font-weight: bold;
    background-color: $karts-champion-background;
    div {
      flex: 3;
      &:nth-child(1) {
        flex: 1;
      }
    }
  }
}
